.allTodosContainer {
  margin-top: 25px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoItem {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  height: 30px;
  width: 300px;
}

.editingTodo {
  background: #444444;
}

.leftSideTodo {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3px;
}

.rightSideTodo {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3px;
}

path {
  pointer-events: none;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  padding: 0;
  margin: 0;
  height: 30px;
  color: #dddddd;
  line-height: 30px;
  padding-left: 5px;
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
}

.todoText {
  opacity: 1;
  
}

.todoTextFaded {
  opacity: 0.5;
  position: relative;
  
}

.todoTextFaded:after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #dddddd;
  opacity: 0.5;
}

.button {
  height: 50%;
  width: 33%;
  padding-left: 5px;
  padding-right: 5px;
}

.completeButtonDefault {
  opacity: 0.2;
  color: #555555;
}

.completeButtonComplete {
  opacity: 1;
  color: #0fa566;
}

.editButton {

}

.deteleButton {

}
