.App {
  min-height: 100%;
  width: 100%;
  background: #333333;
  /*
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
  */
  
  color: #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
}